[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleak = ">=2.1.0"
bleak-retry-connector = ">=3.6.0"
cryptography = ">=40.0.0"
httpx = ">=0.25"
anyio = ">=4.10.0"

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
ruff = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.12"
